ws-producer/src/main/webapp/WEB-INF/wsdl/request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://nl.hu.iac/normdistservice/request"
	xmlns:pow="http://nl.hu.iac/normdistservice/normdistTypes"
	elementFormDefault="qualified" targetNamespace="http://nl.hu.iac/normdistservice/request">

	<!-- root element -->
	<xs:element name="normdistRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="skewness" type="xs:double" />
				<xs:element name="kurtosis" type="xs:double" />
			</xs:sequence>
		</xs:complexType>

	</xs:element>
</xs:schema>
